/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color to the whole page */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 255, 242);
    margin: 0;
    padding: 0;
    
}
.center{
    display: flex;
    justify-content: space-around;
}
/* Style the header */
header {
    background: #00bfff; /* Change to your preferred color */
    color: #fff;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 60px; /* Adjust the size as needed */
    margin-right: 10px;
}

/* Style the sections */
section {
    background: rgba(255, 255, 255, 0.3); /* Set the initial background with transparency */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Apply the blur effect */
    width: 70%;
    display: flex;
}
.section-img{
    width: 200px;
    max-height: 200px;
}

/* Change background transparency on hover */
section:hover {
    background: rgba(255, 255, 255, 0.6); /* Set the background without transparency on hover */
    backdrop-filter: blur(30px); /* Apply the blur effect */
    transition: 0.3s linear;
}
.image{
    width: 50%;
}

/* Style the h2 headings */
h2 {
    color: #000; /* Change to your preferred color */
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the paragraphs */
p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Style the unordered lists */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Style the blockquote */
blockquote {
    background: rgba(255, 255, 255, 0.1); /* Set the initial background with transparency */
    padding: 20px;
    border-left: 5px solid #00bfff; /* Change to your preferred color */
    margin: 20px 0;
    backdrop-filter: blur(10px); /* Apply the blur effect */
}

/* Style the footer */
footer {
    background: #00bfff; /* Change to your preferred color */
    color: #fff;
    text-align: center;
    padding: 10px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
.section-container{
    background: rgb(255, 255, 255, 0.0);
    width: 50%;
}

/* Change color on hover */
.section-container:hover h2 {
    color: #00bfff; /* Change to your preferred color */
}
 /* Add hover animations */
 .section-container {
    transition: background 0.5s;
}

/* Add color change on hover */
.section-container:hover h2 {
    color: #00bfff; /* Change to your preferred color */
}

/* Right-aligned sections */
.right-aligned .section-container {
    justify-content: flex-end;
    text-align: right;
}

.right-aligned .section-container h2 {
    text-align: right;
}

.highlights {
    font-weight: bold;
    font-size: 1.2em;
    color: #01004b;
}